.button-group {
  display: flex;
}

.arrow-button-group {
  justify-content: flex-end;
  margin-right: 8px;
}

.icon-button-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--size-medium);
  height: var(--size-medium);
  border-radius: var(--border-radius-small);
  border: 2px solid transparent;
}

.icon--grey {
  filter: invert(58%) sepia(8%) saturate(560%) hue-rotate(169deg)
    brightness(87%) contrast(83%);
}
